.container {
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	width: 800px;
}

button {
	width: 99px;
	margin: 10px;
}

.spot {
	flex-basis: 100px;
	height: 100px;
	margin: 6px;
	border-radius: 50px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.red {
	background-color: crimson;
}

.yellow {
	background-color: yellow;
}
